<div>
  <table>
    <thead>
      <h1>{{ currentDate | date : "MMMM yyyy" }}</h1>
      <day-container>
        @for (day of dayNames; track day) {
        <app-day>{{ day }}</app-day>
        }
      </day-container>
    </thead>

    <tbody>
      <day-container>
        @for (item of spacerDays; track item) {
        <app-day class="calendar-item"></app-day>
        } @for(cell of cellsArray; track cell) {
        <app-day
          [ngClass]="{
            'calendar-item': true,
            'current-day': cell === currentDay ? true : false
          }"
          >{{ cell }}</app-day
        >
        }
      </day-container>
    </tbody>
  </table>
</div>
