<div>
    <table >
        <thead>
            <tr>
                <td>{{ currentDate | date: 'MMMM yyyy' }}</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <app-week-day/>
            </tr>
            <tr>
                <div class="calendar-pane">
                    @for(cell of cellsArray; track cell) {
                        <td class="calendar-cell">{{ cell }}</td>
                    } 
                </div>
            </tr>
        </tbody>
    </table>
</div>