table {
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 1px solid #ccc;
}

app-day {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: #2c0a4c;
  background-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 10rem;
}

.calendar-item {
  height: 10rem;
}
