<div>
  <table>
    <thead>
      <h1>{{ currentDate() | date : "MMMM yyyy" }}</h1>
      <h4>Today is {{ currentDate() | date : "EEEE MMMM d" }}</h4>
      <h4>Current time is {{ currentTime() | date : "h:mm:ss a z" }}</h4>
      <!-- <day-container> -->
        <tr dayContainer>
          @for (day of dayNames; track day) {
          <td appDay>{{ day }}</td>
          }
        </tr>
      <!-- </day-container> -->
    </thead>

    <tbody>
      <!-- <day-container> -->
        <tr dayContainer>
          @for (item of spacerDays(); track item) {
          <td appDay class="calendar-item"></td>
          } @for(cell of cellsArray(); track cell) {
          <td appDay
            [ngClass]="{
              'calendar-item': true,
              'current-day': cell === currentDay() ? true : false
            }"
            >{{ cell }}</td
          >
          }
        </tr>
      <!-- </day-container> -->
    </tbody>
  </table>
  <app-forecast />
</div>
